html {

    box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.nav-bar {
    height: 72px;
    background-color: #1B1F35;
    padding: 24px 32px 16px 32px;
    clear: both;
}

.mobile-menu {
    float: right;
}

body {
    font-size: 14pt;
    font-family: 'Work Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
    background-color: rgb(1, 1, 1);
    color: rgb(185, 189, 223);
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    font-weight: bolder;
}

.logo {
    color: white;
    font-size: 16pt;
    font-family: 'Space Mono', monospace;
    margin-bottom: 6px;
}

h1 {
    font-size: 36pt;
    font-family: 'Space Mono', monospace;
    color: #EB6E64;
    font-weight: normal;
}

h2 {
    font-size: 18pt;
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    color: white;
    line-height: 30px;
    margin: 0px 0px 16px 0px;
}

h3 {
    color: #EB6E64;
    font-weight: normal;
}

button {
    height: 56px;
    background-color: #EB6E64;
    border-radius: 30px;
    padding: 0px 30px;
    color: rgb(1, 1, 1);
    border: none;
    font-size: 14pt;
    font-family: inherit;
    margin-bottom: 32px;
    /* transition-duration: 0.5s; */
    cursor: pointer;
}

button:hover {
    background-color: #EA9B95;
    scale: 2;
    cursor: pointer;
}

.flex-container-column {
    display: flex;
    flex-direction: column;
    align-items: space-around;
}

.flex-container-row {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
}

.home-bg {
    background-image: url("img/home-bg.jpg");
    background-color: rgb(1, 1, 1);
    background-size: auto 100%;
    background-position-y: 20px;
    background-position-x: -80px;
    background-repeat: no-repeat;
}

.flex-1 {
    margin: 32px;
    flex-grow: 8;
    order: 1;
    flex-basis: 400px;
}

.flex-2 {
    margin: 32px;
    flex-grow: 1;
    order: 2;
}

.footer-bar {
    margin-top: 16px;
    padding: 32px;
    background-color: #1B1F35;
    color: #4D59AC;
}

.footer-flex-1 {
    margin-bottom: 16px;
    order: 1;
    flex-basis: 50%;
}

.footer-flex-1 div {
    margin-bottom: 16px;
}

.footer-flex-2 {
    text-align: right;
    order: 2;
    margin-bottom: 16px;
    flex-basis: 50%;
}

.mouse-type {
    font-size: 10pt;
}

.footer-flex-2 img {
    margin-left: 16px;
    margin-bottom: 16px;
}

.left-margin {
    margin: 0 32px;
    vertical-align: center;
}

.download {
    margin-bottom: 32px;
}

.portrait img {
    width: 100%;
    height: auto;
}

.about {
    line-height: 26px;
    padding: 32px 32px 0 32px;
}
.contact-icons {
    margin: 32px 32px 48px 32px;
}
.contact-icons a{
    padding-right: 16px;
}

.mobile-nav {
    display: none;
    position: absolute;
    top: 4px;
    right: 4px;
    width: 220px;
    height: 150px;
    background-color: rgb(1, 1, 1);
    border: 2px solid #1B1F35;
    padding: 18px 26px 32px 32px;
    z-index: 1;
}

.mobile-nav #menu {
    display: none;
}

.mobile-nav div div {
    padding: 0 0 16px 0;
}